
@import "variables";


#tweet-text {
  background-color: $primary-background-color;
  border: none;
  outline: none;
  border-bottom: #545149 solid;
  resize: none;
  width: 100%;
  height: 1.7em;
  padding-top:10px;
}

.new-tweet {
  width: 100%;
  margin-bottom: 25px;
}

button[type="submit"] {
  font-family: $logo-font;
  color: white;
  background-color: $primary-color;
}

.counter {
  font-family: $logo-font;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

.counter-error {
  color: red;
}

.submission-error {
  color: red;
  font-size: 18px;
}

.hidden {
  display: none;
}
