nav {
  font-family: 'Bungee', cursive;
  background-color: #4056a1;
  display: flex;
  justify-content: space-between;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

nav span {
  color: #FFFFFF;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 60px;
  align-self: flex-end;
}

#nav-arrow {
  color: red;
}

#right-nav {
  font-family: sans-serif;
  font-size: 24px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}