#tweet-text {
  background-color: #f4f1ec;
  border: none;
  outline: none;
  border-bottom: #545149 solid;
  resize: none;
  width: 100%;
  height: 1.7em;
  padding-top:10px;
}

.new-tweet {
  width: 100%;
}

button[type="submit"] {
  font-family: 'Bungee', cursive;
  color: white;
  background-color: #4056a1;
}

.counter {
  font-family: 'Bungee', cursive;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

.submission-error {
  color: red;
  font-size: 18px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}