#tweets-container {
  width: 100%;
}

article.tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid black;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 620px) {
  article.tweet {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 768px) {
  article.tweet {
    font-size: 2vw;
  }

  .tweet-content {
    width: 100%;
  }
}
.tweet-content {
  word-wrap: break-word;
  width: 100%;
}

article.tweet:hover {
  box-shadow: 5px 5px #636866;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

article.tweet hr {
  width: 100%;
  height: 2px;
  background-color: black;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet div.user-info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.tweet-profile-pic {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  /* padding-right: 10px; */
}

article.tweet footer i:hover {
  color: #f1bb69;
}

article.tweet h3 {
  word-wrap: break-word;
}
